<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.travel.travellingbug">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" /> <!-- allows app to access Facebook app features -->
        <provider android:authorities="com.facebook.orca.provider.PlatformProvider" /> <!-- allows sharing to Messenger app -->
    </queries>

    <application
        android:name=".ClassLuxApp"
        android:allowBackup="false"
        android:autoMirrored="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo_org"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo_org"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activities.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VehicleTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.login.FBAuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UpdatePhoneNumber"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddTrackingLinkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TrackingLinkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DataProtectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PaymentAndRefundActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProviderReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TestingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PreferenceTitle"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PickUpNotes"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HistoryDetailsUser"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CustomStopOverLocation"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TrackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RideRequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RideRequest"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UpdatePreference"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ConfirmRideRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FindRideDetails"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FindRidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.Payment"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VerifyMobileNumberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VehicleDetailsMenufactureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VehicleDetailsColorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DriverProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VehicleDetailsTypeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VehicleDetailsModelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VehicleDetailsBrandActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VehicleDetailsLicensePlateNumberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TravelPreferenceActivityMain"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TravelPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VerifyIdMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.VerifyIdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TermsAndConditionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChangeAddressAdtivityTwo"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChangeAddressAdtivityOne"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HomeScreenActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.IntroScreen"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.login.IntroActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.login.FaceBookLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name=".ui.activities.login.GoogleLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name=".ui.activities.NotificationTab"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quickridejadriver.providers.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.DocUploadActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.activities.WithdrawActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.OtpVerification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.WithdrawAmountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.activities.DocumentStatus" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.FullImage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.login.SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.UserChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.UserReview"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.login.ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.EditProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.ShowProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.HistoryDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.HistoryActivity"
            android:label="History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CouponActivity"
            android:label="Coupon"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.login.ChangePassword"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.CustomGooglePlacesSearch"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".fcm.FCMService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver
            android:name=".fcm.MyBroadcastReceiver"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo_org" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SosCallActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ComplaintsAcivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.LegalActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.TermsOfUseActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.PrivacyPolicyActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.UpdateProfile"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.WaitingForApproval"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.FavouritePlaceSearch"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.DocumentUpload"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.TrackActivityDriver"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.Profile"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.EarningActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>